@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.container {
  display: flex;
  flex-direction: column;
  background: color.$gray-900;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
  }
}

.main {
  flex: 1;
}

.contentContainer {
  min-height: calc(100vh - 2 * space.$s8 - misc.$header-height);
  margin-top: misc.$header-height;
  padding: space.$s8 space.$s3;
  background: white;

  @media (min-width: breakpoint.$desktop) {
    min-height: calc(100vh - space.$s3 - 2 * space.$s8);
    margin-top: space.$s3;
    padding: space.$s8;
    border-top-left-radius: space.$s10;
  }
}

.title {
  margin: space.$s0 space.$s0 space.$s1;
  color: color.$gray-900;
  font: font.$display-sm-medium;
}

.info {
  margin-bottom: space.$s8;
  color: color.$gray-500;
  font: font.$text-md-regular;
}

.footer {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: breakpoint.$desktop) {
    height: 60px;
  }
}

.footerWrapper {
  gap: 32px;

  @media (min-width: breakpoint.$desktop) {
    padding: 0 32px;
  }
}

.footerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: breakpoint.$desktop) {
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    :nth-child(1) {
      order: 3;
    }

    :nth-child(2) {
      order: 1;
    }

    :nth-child(3) {
      order: 2;
    }
  }
}

.version {
  font-weight: 400;
  color: #98a2b3;
}

.footerLinks {
  display: flex;
  text-align: left;
  gap: 24px;

  :nth-child(1) {
    order: 1;
  }

  :nth-child(2) {
    order: 2;
  }

  :nth-child(3) {
    order: 3;
  }

  :nth-child(4) {
    order: 4;
  }
}

.footerLink {
  color: #667085;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}
